*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #292821;
  position: fixed;
  opacity: 90%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;

}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    padding-top: 10px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
  font-family: 'Monda'
}
.nav-links a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
.nav-links a:hover{
  color: purple;
}
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
.nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  opacity: 90%;
  background-color: #292821;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transform: 0.8s ease-in;
}
.nav-links li {
  opacity: 100;
}
.burger {
  display: block;
}
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


.home-container {
  height: 100vh;
  max-width: 100%;
background-image: url(images/hero-image.jpg);
background-size: cover;
background-position: center;
border-bottom: solid black 1px;
}


@media (max-width: 1000px) {
  .home-container {
  background-image: url(images/hero-small.jpg); }
}



.right-col {
  height: 100px;
  width: 300px;
  float: right;
  margin-right: 10%;
  margin-top:500px;
  padding: 20px;
  display: flex;
  align-items: center;

}


.click-here {
  font-family: 'Monda';
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video-box {


}
.video-title {
padding-top: 20px;
background-size: cover;
background-position: 20%;



}

.videos {
background-image: linear-gradient(black, black, #2a2b2e);
padding-top: 10px;


}




  .video-container
  {

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .video-container iframe
  {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

iframe{
  padding: 50px;
}

  @media (min-width: 900px) {
    iframe {
    margin:0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
width: 100%:

     }
}
@media (min-width: 1000px) {
  iframe {
  margin:0 auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
width: 1280px;
height: 720px;

   }
}

.merch-title {
  padding-top: 40px;
background-color: black;
background-size: cover;
background-position: 20%;

padding: 10px;

}
h1 {
  text-align: center;
  font-family: 'Monda';
  color: white;
  font-size: 60px;
  margin: none;
  padding-top: 20px;

}
.product-list {
background-image: linear-gradient(black, black, #2a2b2e);

  padding: 4em;

}


.product-list .card {
  background-color: #e8e5dc;
  border-radius: 10px;
  padding:1em;

  box-shadow: 0px 10px 5px #b2bec3;
  text-align: center;
  font-family: 'Monda';
  width: 300px;
  height:auto;

}
.card .title {
  font-size: 18px;
  font-weight: bold;
}



.card .text {
  text-align: left;
  margin-left: 2em;
  margin-bottom: 0.5em;
  font-size: 12px;
}
.buy-button {
  background-color: #EE82EE;
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
}
.buy-button:hover {
  box-shadow: 0px 5px 5px #b2bec3;
  color: 	#FF00FF;
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding-top: calc((100% - 1000px)/6);
    padding-left:calc((100% - 1000px)/6);
  }


@media (min-width: 600px) {
  .product-container{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .product-container { grid-template-columns: repeat(3, 1fr);
  }
}

.card img {
  max-width: 100%;
  }

  #img-container{
    z-index: 1;
    max-width: 500px;
position: relative;
  }
  #lens{
    z-index: 3;
    position: absolute;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border:2px solid black;
  }

.about{
  width: 100%;
  padding-left: 40px;
  background-image: linear-gradient(black, black, #2a2b2e);
  padding-top: 100px;
  padding-bottom: 100px;
}
.about img {
   height: auto;
   width: 100%;
   border: solid 2px purple;
   margin-right: 20px;
   margin-top: 70px;

}

.about-text {
  width: 550px;
padding-left: 30px
}
.main {
  width: 1130px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.about-text h1 {
  color: white;
  font-family: 'Monda';
  font-size: 4vw;
  text-transform: capitalize;

}
 .about-text p{
   color: #fcfc;
   font-family: 'Monda';
 font-size: 1.1em;
   line-height: 30px;
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }
}


.footer {
  border-top: solid 2px gray;
  height: 60px
padding: 40px 0;
background-color: black;
}

.footer .social {
text-align: center;
padding-bottom: 25px;
color: #4b4c4d;
}

.footer .social a {
font-size: 24px;
color: inherit;
border: 1px solid #ccc;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
text-align: center;
border-radius: 50%;
margin: 0 8px;
opacity: 0.75;
}

.footer .social a:hover {
opacity: 0.9;
color: purple;
}


h5{
padding: 20px;
font-family: 'Monda';
text-align: center;
font-size: 25px;
color: #aaa;
}


.footer .copyright {
margin-top: 5px;
text-align: center;
font-family: 'Monda';
font-size: 13px;
color: #aaa;
padding-bottom: 20px;
}
.modal {
  padding: 1em;
  max-width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  background-color: #F5F5F5;
  border-radius: 10px;
  position: relative;
  top: 4000px;
  left: 10%;
  }

@media (max-width: 750px) {
  .modal {
    position: relative;
    top: 5300px;
    left: 10%;
  }
}




.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}
.modal-heading {
  font-family: 'Monda';
}
.modal-p {
  font-family: 'Monda';
  padding: 10px;
}
.button {
  border: solid 1px #aaa;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4b4c4d;
  font-family: 'Monda';
  color: #aaa;
  font-weight: 700;
  margin-left: 20px;
  padding: 15px;
}
.close-button {
  position: absolute;
  left: 85%;
  top: 4px;
  padding: 5px;
}

.button:hover,
.button:focus {
  background: purple;
}

form {
  display: grid;
  gap: 1em;
}
input[type="text"]
{
    font-family: 'Monda';
}
.text {
  font-family: 'Monda';
}
.email {
  font-family: 'Monda';
}
input[type="email"]
{
    font-family: 'Monda';
}

@media(max-width: 900px){
    .main{
        grid-template-columns: 400px;
        padding:0;
        margin: 0;
}
@media(max-width: 900px){
    .about-text{
        grid-template-columns: 100px;
        padding: 0;

}
@media(max-width: 900px){
    .about-text h1{
        font-size: 40px;
        text-align: left;
}
@media (max-width: 48rem) {
  .about-text p {
    font-size: 2.6vw;
    text-align: left;
    margin-right: 150px;

  }
